<a href="https://colab.research.google.com/github/Bae-hong-seob/University-3-2/blob/main/ux_psychology/make_rankboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 폴더 내 모든 파일 load

- 파일경로 매번 바꿔줘야함
- 저장파일명 매번 바꿔줘야함

In [ ]:
import os
import pandas as pd
from numpy.core.fromnumeric import mean

path = "/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4"
file_lst = os.listdir(path)
# 현재 디렉토리내에 모든 파일 출력
print(file_lst) # ['test1.text','test2.text','test3.text','.ipynb_checkpoints','test4.text','test.ipynb','test5.text']

['11-04-00-41-24_num4.txt', '11-02-11-08-34_num4.txt', '11-09-20-51-25_num4.txt', '11-10-21-55-33_num4.txt', '11-04-15-40-20_num4.txt', '11-05-15-56-12_num4.txt', '11-04-00-42-36_num4.txt', '11-04-01-17-02_num4.txt', '11-04-00-43-55_num4.txt', '11-04-15-50-46_num4.txt', '11-07-17-10-39_num4.txt', '11-07-17-32-07_num4.txt', '11-05-21-01-34_num4.txt', '11-08-13-46-30_num4.txt', '11-05-21-59-25_num4.txt', '11-08-13-45-26_num4.txt', '11-05-15-47-01_num4.txt', '11-06-16-21-36_num4.txt', '11-09-16-12-55_num4.txt', '11-10-17-25-06_num4.txt', '11-08-13-18-06_num4.txt', '11-07-17-24-43_num4.txt', '11-05-23-11-33_num4.txt', '11-08-14-01-21_num4.txt', '11-07-15-52-28_num4.txt', '11-09-17-50-56_num4.txt', '11-09-15-41-06_num4.txt']

In [ ]:
id = 0
id_list = []
correct_rate_list = []
mean_time_list = []

In [ ]:
# 현재 디렉토리내에 각각의 파일을 출력
for file in file_lst:
    filepath = path + '/' + file
    print('visit'+filepath+'...')

    data = pd.read_csv(filepath)
    correct_num = len(data.loc[data[' TF'] == True])
    total_num = len(data)

    correct_rate = correct_num / total_num
    mean_time = mean(data[' Time(ms)'])

    id_list.append(id)
    correct_rate_list.append(correct_rate)
    mean_time_list.append(mean_time)

    print('-----id = ',id)
    print('-----correct_rate = ',correct_rate)
    print('-----mean_time = ', mean_time)
    print('\n')

    id+=1

visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-04-00-41-24_num4.txt...
-----id =  0
-----correct_rate =  0.9
-----mean_time =  331.05


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-02-11-08-34_num4.txt...
-----id =  1
-----correct_rate =  0.95
-----mean_time =  326.25


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-09-20-51-25_num4.txt...
-----id =  2
-----correct_rate =  1.0
-----mean_time =  387.45


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-10-21-55-33_num4.txt...
-----id =  3
-----correct_rate =  1.0
-----mean_time =  398.6


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-04-15-40-20_num4.txt...
-----id =  4
-----correct_rate =  1.0
-----mean_time =  326.4


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-05-15-56-12_num4.txt...
-----id =  5
-----correct_rate =  0.85
-----mean_time =  360.15


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-04-00-42-36_num4.txt...
-----id =  6
-----correct_rate =  1.0
-----mean_time =  311.15


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-04-01-17-02_num4.txt...
-----id =  7
-----correct_rate =  0.85
-----mean_time =  333.4


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-04-00-43-55_num4.txt...
-----id =  8
-----correct_rate =  0.95
-----mean_time =  352.85


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-04-15-50-46_num4.txt...
-----id =  9
-----correct_rate =  0.9
-----mean_time =  380.4


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-07-17-10-39_num4.txt...
-----id =  10
-----correct_rate =  1.0
-----mean_time =  342.2


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-07-17-32-07_num4.txt...
-----id =  11
-----correct_rate =  0.7
-----mean_time =  368.95


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-05-21-01-34_num4.txt...
-----id =  12
-----correct_rate =  0.6521739130434783
-----mean_time =  317.85


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-08-13-46-30_num4.txt...
-----id =  13
-----correct_rate =  1.0
-----mean_time =  350.65


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-05-21-59-25_num4.txt...
-----id =  14
-----correct_rate =  0.7727272727272727
-----mean_time =  358.9


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-08-13-45-26_num4.txt...
-----id =  15
-----correct_rate =  1.0
-----mean_time =  295.3


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-05-15-47-01_num4.txt...
-----id =  16
-----correct_rate =  1.0
-----mean_time =  371.7


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-06-16-21-36_num4.txt...
-----id =  17
-----correct_rate =  1.0
-----mean_time =  470.4


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-09-16-12-55_num4.txt...
-----id =  18
-----correct_rate =  0.95
-----mean_time =  385.85


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-10-17-25-06_num4.txt...
-----id =  19
-----correct_rate =  0.95
-----mean_time =  484.6


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-08-13-18-06_num4.txt...
-----id =  20
-----correct_rate =  0.9
-----mean_time =  337.15


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-07-17-24-43_num4.txt...
-----id =  21
-----correct_rate =  0.9
-----mean_time =  365.05


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-05-23-11-33_num4.txt...
-----id =  22
-----correct_rate =  0.8
-----mean_time =  312.65


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-08-14-01-21_num4.txt...
-----id =  23
-----correct_rate =  0.9
-----mean_time =  366.1


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-07-15-52-28_num4.txt...
-----id =  24
-----correct_rate =  1.0
-----mean_time =  382.7


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-09-17-50-56_num4.txt...
-----id =  25
-----correct_rate =  0.95
-----mean_time =  485.95


visit/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/num4/11-09-15-41-06_num4.txt...
-----id =  26
-----correct_rate =  1.0
-----mean_time =  432.0

In [ ]:
num_df = pd.DataFrame({'id' : id_list, 'correct rate' : correct_rate_list, 'mean time' : mean_time_list})
num_df

    id  correct rate  mean time
0    0      0.900000     331.05
1    1      0.950000     326.25
2    2      1.000000     387.45
3    3      1.000000     398.60
4    4      1.000000     326.40
5    5      0.850000     360.15
6    6      1.000000     311.15
7    7      0.850000     333.40
8    8      0.950000     352.85
9    9      0.900000     380.40
10  10      1.000000     342.20
11  11      0.700000     368.95
12  12      0.652174     317.85
13  13      1.000000     350.65
14  14      0.772727     358.90
15  15      1.000000     295.30
16  16      1.000000     371.70
17  17      1.000000     470.40
18  18      0.950000     385.85
19  19      0.950000     484.60
20  20      0.900000     337.15
21  21      0.900000     365.05
22  22      0.800000     312.65
23  23      0.900000     366.10
24  24      1.000000     382.70
25  25      0.950000     485.95
26  26      1.000000     432.00

In [ ]:
sort_num_df = num_df.sort_values(by=['correct rate','mean time'], ascending = [False, True])
sort_num_df

    id  correct rate  mean time
15  15      1.000000     295.30
6    6      1.000000     311.15
4    4      1.000000     326.40
10  10      1.000000     342.20
13  13      1.000000     350.65
16  16      1.000000     371.70
24  24      1.000000     382.70
2    2      1.000000     387.45
3    3      1.000000     398.60
26  26      1.000000     432.00
17  17      1.000000     470.40
1    1      0.950000     326.25
8    8      0.950000     352.85
18  18      0.950000     385.85
19  19      0.950000     484.60
25  25      0.950000     485.95
0    0      0.900000     331.05
20  20      0.900000     337.15
21  21      0.900000     365.05
23  23      0.900000     366.10
9    9      0.900000     380.40
7    7      0.850000     333.40
5    5      0.850000     360.15
22  22      0.800000     312.65
14  14      0.772727     358.90
11  11      0.700000     368.95
12  12      0.652174     317.85

#csv 파일명 바꿔줘야함

In [ ]:
sort_num_df.to_csv("/content/drive/MyDrive/3-2 university/ux_psychology/SRT+CRT/rankboard_num4_df.csv", index = False)